.formProduct{
  width: 80vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr); /* Cuatro columnas de igual ancho */
  gap: 10px; /* Espacio entre los elementos */
  padding: 2vw;
}
form {
    display: flex;
    width: 30vw;
    flex-direction: column;
    margin: 0 auto;
    border: 2px;
    border-color: cadetblue;
  }
  
  div {
    margin-bottom: 1em;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.5em;
  }
  
  button {
    padding: 0.5em 1em;
  }
  
  div > div {
    color: red;
    font-size: 0.8em;
  }